@{
    ViewData["Title"] = "Faceit AVG Stats";

    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            background: #cccccc;
        }
    </style>

}

<h2> Faceit AVG Stats from @ViewData["Name"]</h2>

<p> Kills: @ViewData["Kills"] HS%: @ViewData["HS"] K/D: @ViewData["KD"] K/R: @ViewData["KR"]</p>

