@{
    ViewData["Title"] = "Faceit Lifetime Stats";

    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #444444;
            background: #cccccc;
        }
    </style>

}

<h2> Faceit Lifetimestats from @ViewData["Name"]</h2>
<p> Your current Elo: @ViewData["Elo"] with the Rank of @ViewData["Level"]</p>

<p> Won Matches: @ViewData["WonMatches"] to played matches @ViewData["PlayedMatches"]. With a WinPercentage of @ViewData["WinPercentage"]%</p>
<p> Highest winning streak: @ViewData["highesWinningstreak"], your current winning streak @ViewData["currentWinningstreak"] wit a overall K/D from @ViewData["KD"]</p>



