@model MvcFaceitAPI.Models.Streamplugin
@{
    ViewData["Title"] = "StreamOverlay";
    Layout = null;
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    </style>
}


@if ((int)Model.Live == 1)
{
    <div style="width:25%; position: absolute; top:0; left:-5px; border-bottom: 2px solid #FF5500; border-image: linear-gradient(to right, #FF5500, #fff,#FF5500) 1; background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(255,255,255,0) 100%);">
        <table align="center" width="100%">
            <tbody align="center">
                <tr>
                    <td colspan="3" style="font-size:20px; font-weight:bolder; color:white">@Model.ownTeamName vs @Model.enemyTeamName</td>
                </tr>
                <tr style="font-size:16px; font-weight:bold; color:white">
                    <td style="text-align:right; width:30%; color:green">@Model.ownTeamWinElo</td>
                    <td style="text-align:center; width:40%; color:red"></td>
                    <td style="text-align:left; width:30%; color:red">@Model.enemyTeamWinElo</td>
                </tr>
                <tr style="font-size:16px; font-weight:bold; color:white" align="center, width:100%">
                    <td colspan="3">@Model.ownTeamElo vs @Model.enemyTeamElo</td>
                </tr>
            </tbody>
        </table>
    </div>
}



<div style="color: white; width:40%; position: fixed; bottom:0;  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(255,255,255,0) 100%); box-sizing: border-box; margin: auto; left:30%">
    <div style="width:100%; border-top: 2px solid; border-image: linear-gradient(to right, #FF5500, #fff,#FF5500) 1; box-sizing: border-box; margin: auto"></div>
    <table align="center" style="width:60%">
        <tbody align="center" style="color:white">
            <tr>
                <td colspan="7" style="font-size:16px; font-weight:bolder">Faceit AVG stats</td>
            </tr>
            <tr style="font-size: 14px; font-weight: bold;" align="center">
                <td style="text-align:center; width:10%">ELO</td>
                <td style="text-align:center; width:10%">Matches</td>
                <td style="text-align:center; width:10%">WinRate</td>
                <td style="text-align:center; width:10%">*Kills</td>
                <td style="text-align:center; width:10%">*HS%</td>
                <td style="text-align:center; width:10%">*K/D</td>
                <td style="text-align:center; width:10%">*K/R</td>
            </tr>
            <tr style="font-size:12px;" align="center">
                <td style="text-align:center; width:10%"><span> @Model.Elo </span></td>
                <td style="text-align:center; width:10%"><span> @Model.WonMatches /  @Model.PlayedMatches</span></td>
                <td style="text-align:center; width:10%"><span> @Model.WinPercentage% </span></td>
                <td style="text-align:center; width:10%"><span> @Model.avgKills </span></td>
                <td style="text-align:center; width:10%"><span> @Model.avgHs </span></td>
                <td style="text-align:center; width:10%"><span> @Model.avgKd </span></td>
                <td style="text-align:center; width:10%"><span> @Model.avgKr </span></td>
            </tr>
        </tbody>
    </table>
</div>